@import "../../../shared/styles/media";

:host {
    display: flex;
    flex-direction: column;

    .issues__filter {
        flex-grow: 1;
        padding: 0 1rem;
    }

    table {
        width: 100%;
    }

    @media #{$mat-xs} {
        .issues__filter {
            position: sticky;
            top: 0;
            background: white;
        }
    }
}